---
import HTML_Icon from "./icons/Html.astro";
import CSS_Icon from "./icons/CSS_Icon.astro";
import JavaScript_Icon from "./icons/JavaScript_Icon.astro";
import Tailwind_Icon from "./icons/Tailwind.astro";
import Astro_Icon from "./icons/AstroIcon.astro";
import UpIcon from "./icons/UpIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import NextjsIcon from "./icons/NextjsIcon.astro";
import GraphQLIcon from "./icons/GraphQLIcon.astro";
import NodeIcon from "./icons/NodeIcon.astro";
import MongoIcon from "./icons/MongoIcon.astro";
import FirebaseIcon from "./icons/FirebaseIcon.astro";
import FramerIcon from "./icons/FramerIcon.astro";
import ApolloIcon from "./icons/ApolloIcon.astro";
import WordpressOIcon from "./icons/WordpressIcon.astro";

const TAGS = {
    html: {
        name: "HTML",
        class: "bg-gray-600/70 text-white",
        icon: HTML_Icon,
    },
    css: {
        name: "CSS",
        class: "bg-gray-600/70 text-white",
        icon: CSS_Icon,
    },
    javascript: {
        name: "JavaScript",
        class: "bg-gray-600/70 text-white",
        icon: JavaScript_Icon,
    },
    tailwind: {
        name: "Tailwind",
        class: "bg-gray-600/70 text-white",
        icon: Tailwind_Icon,
    },
    astro: {
        name: "Astro",
        class: "bg-gray-600/70 text-white",
        icon: Astro_Icon,
    },
    react: {
        name: "React",
        class: "bg-gray-600/70 text-white",
        icon: ReactIcon,
    },
    nextjs: {
        name: "Next.js",
        class: "bg-gray-600/70 text-white",
        icon: NextjsIcon,
    },
    grapqhql: {
        name: "GraphQL",
        class: "bg-gray-600/70 text-white",
        icon: GraphQLIcon,
    },
    nodejs: {
        name: "Node.js",
        class: "bg-gray-600/70 text-white",
        icon: NodeIcon,
    },
    mongodb: {
        name: "MongoDB",
        class: "bg-gray-600/70 text-white",
        icon: MongoIcon,
    },
    firebase: {
        name: "Firebase",
        class: "bg-gray-600/70 text-white",
        icon: FirebaseIcon,
    },
    framer: {
        name: "Framer Motion",
        class: "bg-gray-600/70 text-white",
        icon: FramerIcon,
    },
    apollo: {
        name: "Apollo",
        class: "bg-gray-600/70 text-white",
        icon: ApolloIcon,
    },
    wordpress: {
        name: "WordPress",
        class: "bg-gray-600/70 text-white",
        icon: WordpressOIcon,
    },
};

// AGREGAR AQUI LOS PROYECTOS PARA MOSTRAR EN LA PAGINA
const PROYECTS = [
    {
        title: "Creación pagina web Aorocoin.com",
        description:
            "Desarrollo de la pagina web de Aorocoin, una criptomoneda basada en reservas de oro, con implementación de animaciones y transiciones atractivas para los usuarios.",
        image: ["/proyectos_imagenes/aorocoin.webp"],
        tags: [TAGS.nextjs, TAGS.grapqhql, TAGS.apollo, TAGS.firebase , TAGS.framer],
        link: "https://aorocoin.com",
    },
    {
        title: "KGK Ingeniería",
        description:
            "Desarrollo, optimización y aplicacion de medidas de seguridad (firewall, monitoreo y analíticas) de la pagina web de KGK Ingeniería, una empresa de ingeniería especializada en la construcción de obras civiles e infraestructura.",
        image: ["/proyectos_imagenes/kgk.png"],
        tags: [TAGS.wordpress],
        link: "https://kgkingenieria.com",
    },
    {
        title: "Dymm",
        description:
            "Desarrollo de la pagina web de Dymm, una empresa de limpieza especializada en la creación de soluciones para empresas.",
        image: ["/proyectos_imagenes/dymm.png"],
        tags: [TAGS.wordpress],
        link: "https://dymm.com.co",
    },
    {
        title: "American Denim Shop",
        description:
            "Desarrollo de la pagina web de American Denim Shop, una tienda online de ropa especializada en la venta de pijamas y ropa interior.",
        image: ["/proyectos_imagenes/americandenim.png"],
        tags: [TAGS.wordpress],
        link: "https://americandenimshop.com",
    },
    {
        title: "BWS Vinos",
        description:
            "Desarrollo de la pagina web de BWS Vinos, una tienda online de vinos y licores especializada en la venta de vinos y licores importados.",
        image: ["/proyectos_imagenes/bws.png"],
        tags: [TAGS.wordpress],
        link: "https://bws.com.co",
    },
    {
        title: "Rediseño de la página de Portafolio.co",
        description:
            "Rediseño Portafolio.co para su 30 aniversario, con el fin de mejorar la experiencia de usuario y la accesibilidad. Se adecuo a los estándares de la W3C y se implemento un diseño responsivo.",
        image: [
            "/proyectos_imagenes/portafolio-desktop.webp",
            //"/proyectos_imagenes/portafolio-mobile.webp",
        ],
        tags: [TAGS.html, TAGS.css, TAGS.javascript],

        link: "https://portafolio.co",
    },

    {
        title: "Demo clon pagina Lego",
        description:
            "Clon de la pagina de Lego con Astro, uso de View Transitions, y manejo de datos con Astro.",
        image: ["/proyectos_imagenes/lego-shot.jpg"],
        tags: [TAGS.astro, TAGS.html, TAGS.css, TAGS.javascript],
        link: "https://symphonious-salmiakki-c88526.netlify.app/",
    },

    {
        title: "Codepens de CSS y Frontend",
        description:
            "Sitio web que muestra algunos desarrollos propios en Codepen, con el fin de mostrar avances en el desarrollo de interfaces de usuario, nuevas tecnicas de CSS y desarrollos de interes.",

        image: ["/penvid.gif"],
        tags: [TAGS.html, TAGS.css, TAGS.javascript],
        link: "/demos-site",
    },

    {
        title: "React Tic-Tac-Toe",
        description:
            "Juego de Gato desarrollado con React, cuenta con persistencia local en navegador y manejo de estados.",

        image: ["/proyectos_imagenes/tictactoe.webp"],
        tags: [TAGS.react],
        link: "https://github.com/Arbyl/react-tic-tac-toe",
    },
];
---

{
    PROYECTS.map((project) => (
        <article class="mb-12 max-w-2xl">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">
                {project.title}
            </h3>
            <p class="text-base mb-4 text-pretty">{project.description}</p>
            <ul class="flex gap-x-2 flex-row overflow-auto scrollbar-hide">
                {project.tags.map((tag) => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs ${tag.class}
                        py-1 px-2 items-center shadow-lg shadow-gray-900/90
                        `}
                        >
                            <tag.icon class="size-5 rounded-md" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>

            <ul class="flex max-h-80 gap-x-2 mt-5">
                {project.image.map((images) => (
                    <li class="relative">
                        <img
                            src={images}
                            alt="Captura de pantalla del proyecto"
                            class="  w-full h-full object-cover rounded-xl shadow-lg shadow-gray-900/90"
                        />
                        <div class=" absolute bottom-2 right-2 w-full flex justify-end">
                            <a
                                href={project.link}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="flex items-center gap-x-2 py-2 px-4
                                     rounded-full border bg-black/70 backdrop-blur-sm
                                        
                                     hover:scale-105 hover:bg-black/40 transition w-48"
                            >
                                Conoce mas aquí
                                <UpIcon class="size-5 rotate-90" />
                            </a>
                        </div>
                    </li>
                ))}
            </ul>
        </article>
    ))
}
